/* Here we setup the body text to be green and for the header text to have the monospace font. */

<style>
  body {
    background-color: black;
    color: green;
    font-family: monospace;
  }

</style>
<h1>Hello World</h1>